// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
// Add any SASS variables that are specific to this file here.


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
html,
body {
    margin: 0;
    padding: 0;
}


html {
    background-color: #BBB;

    body {
        &:before,
        &::before {
            content: '';
            display: block;
            width: 100px;
            height: 100px;
            background: rgba( 0,0,0,0.2 );
        }
    }
}

